@font-face {
  font-family: "LuckieFont";
  src: url("../../fonts/LuckiestGuy-Regular.ttf");
}
.nav {
  background-color: #ff9933;
  color: #ebdb42;
  padding: 0.7rem;

  display: flex;

  align-items: center;
  position: sticky;
  top: 0;
  z-index: 2;

  font-family: "LuckieFont";
}


.menuList{
  background-color: red;
}