@import "~react-image-gallery/styles/css/image-gallery.css";
#content {
  padding-left: 30px;
  padding-right: 30px;

  background-color: #DCF2F1;
  flex: 1 1 0%;
  overflow: "auto";
}

#app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
