@import "~react-image-gallery/styles/css/image-gallery.css";
.content {
  padding-left: 30px;
  padding-right: 30px;
  background-color: #dcf2f1;
  position: relative;
  top: 0;
  left: 0;
  height: 100%; /* ull height for mobile screen */

  /*Full height for pc screen */
  @media screen and (min-width: 768px) {
    min-height: calc(100vh - 64px);
  }

  display: flex;
  justify-content: center;
  align-items: center;
}

#app {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
