@import "~react-image-gallery/styles/css/image-gallery.css";
.content {
 
  background-color: #ffeead;
  display: column;
  justify-content: center;
  height: 50%;
}
@media (min-width: 1024px) {
  .content {
    height: 100%;
  }
}

#app {
  display: flex;
  text-align: center;
  flex-direction: column;
  background-color: #dcf2f1;
}
